# Byte-compiled file
*.pyc

# Virtual environments
venv

# Packaging
*.egg-info

# Documentation and coverage
docs/_build
docs/_static
docs/source
docs/readme.rst
cover

# Other
.DS_Store
*.swp

# Output and cache
*.pdf
*.pickle

# Projects
examples/intel.py
examples/data/intel
examples/bnn.py
examples/data/bnn
